local_configuration.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/venv/*
/.idea/*
/generated/*.log
/logs/*.*
/generated/*.xml
/generated/*.gz
/generated/*.zip
/generated/nova_stammdaten.xml
/generated/*.csv
/generated/nova_p_r*.*

generated/out.py
